@use '../../../style/_mixins.scss' as *;

.todaysHighlights {

  h3 {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.013125rem;
    color: #878787;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &__contents {
    display: flex;
    
    justify-content: space-between;
    padding: 10px 2px 8px 2px;
    overflow: auto;

    @include respond(tablet) {
      flex-direction: column; 
      gap: 14px;
    }
  }

  &__visualContents {
    display: flex;
    width: 100%;
    flex: 1;

    @include respond(tablet) { 
      gap: 14px;
      flex: unset;
    }
  }

  &__UVContent {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;

    @include respond(tablet) { 
      flex: unset;
    }
  }

  &__contentWrapper {
    background-color: #F9F9F9;
    border-radius: 10px;
    width: 220px;
    min-width: 220px;
    aspect-ratio: 1 / 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
    overflow-y: hidden;

    @include respond(weekly-forecast-wrap-desktop) { 
      width: 200px;
      min-width: 200px;
      aspect-ratio: 1 / 1.1;
    }
    @include respond(todays-highlight-shrink-desktop) { 
      width: 165px;
      min-width: 165px;
      aspect-ratio: 1 / 1.35;
    }
    @include respond(small-desktop) { 
      width: 140px;
      min-width: 140px;
      aspect-ratio: 1 / 1.6;
    }
    @include respond(todays-highlight-shrink-tablet) { 
      width: 120px;
      min-width: 120px;
      aspect-ratio: 1 / 1.85;
    }
    @include respond(tablet) { 
      // width: 125px;
      // min-width: 125px;
      // aspect-ratio: 1 / 1.3;
      width: 100%;
      aspect-ratio: unset;
    }
    // @include respond(todays-highlight-shrink-mobile) { 
    //   width: 111px;
    //   aspect-ratio: 1 / 1.5;
    // }
  }
}

// skeleton
.todaysHighlights {
  &__titleSkeleton,
  &__contentSkeleton {
    background-image: linear-gradient(90deg, #f0f0f0 25%, #fafafa 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }

  &__titleSkeleton {
    height: 1.5rem;
    width: 7.5rem;
    border-radius: 6px;
  }

  &__contentSkeleton {
    border-radius: 10px;
    flex: 1 1;
    min-width: 115px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
