@use '../../../style/_mixins.scss' as *;

.todaysHighlights {

  h3 {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.013125rem;
    color: #878787;
  }

  height: 34%;
  // padding-top: 10px;

  @media (max-height: 750px) {
    height: 36%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &__contents {
    display: flex;
    justify-content: space-between;
    padding: 10px 2px 8px 2px;
    overflow: auto;

    // @include respond(small-desktop) {
    //   gap: 14px; 
    // }
  }

  &__contentWrapper {
    background-color: #F9F9F9;
    border-radius: 10px;
    width: 30%;
    aspect-ratio: 1 / 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: 115px;
    overflow-y: hidden;
  }
}

// skeleton
.todaysHighlights {
  &__titleSkeleton,
  &__contentSkeleton {
    background-image: linear-gradient(90deg, #f0f0f0 25%, #fafafa 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }

  &__titleSkeleton {
    height: 1.5rem;
    width: 7.5rem;
    border-radius: 6px;
  }

  &__contentSkeleton {
    border-radius: 10px;
    flex: 1 1;
    min-width: 115px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
