.favoritesList {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 18px 45px 10px 45px;
    background-color: rgba(white, 0.95);
    z-index: 1000;

    @media (max-width: 768px) {
      background-color: #F9F9F9;
      height: 68px;
      padding-top: 10px;
    }
  }
  &__headerTitle {
    font-size: 25px;
    font-weight: 500;
    padding: 8px 0;
    text-align: center;
    letter-spacing: 0.5px;

    @media (max-width: 768px) {
      font-size: 20px;
      letter-spacing: 0.4px;
    }
  }
  &__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    padding: 5px;
    transition:all 0.3s ease;
    &:hover {
      cursor: pointer;
      background-color: rgba(black, 0.2);
    }
    &.deleteActive {
      background-color: rgba(black, 0.2);
    }
  }
  &__icon {
    width: 25px;
    height: 25px;
    stroke-width: 1.5px;
    color: rgba(0, 0, 255, 0.8);

    @media (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}