@use '../../../../style/_mixins.scss' as *;

.sunsetAndSunrise {
  padding: 5px;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // design for today
  // sun orbit 
  &__sunOrbitContainer {
   width: 100%;
   max-width: 250px;
   display: flex;
   justify-content: center;
   overflow: hidden;
   padding: 5% 10% 0 10%;
   position: relative;
  }

  &__sunOrbitLeft {
    width: 100%;
    height: 0;
    border: #FD8A03 dashed 2.5px;
    border-bottom: none; 
    border-top-left-radius: 100% 200%; 
    border-top-right-radius: 100% 200%;
    padding-bottom: 50%;
    background: linear-gradient(to bottom, #FFC62E80, #FFC62E1A);
    // clip-path: polygon(0 0, 30% 0, 30% 100%, 0 100%);
  }
  &__sunOrbitRight {
    width: 80%;
    height: 0;
    border: #878787 dashed 2px;
    border-bottom: none; 
    border-top-left-radius: 100% 200%; 
    border-top-right-radius: 100% 200%;
    position: absolute;  
    padding-bottom: 40%;
    background: rgba(white, 0.5);
    // clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%);
  }
  .night {
    background-image: url(/backgrounds/clear-night-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-bottom: #040219CC solid 3px;
  }

  &__clockHandWrapper {
    position: absolute;
    bottom: calc(0% - 15px);
    right: 50%;
    width: calc(40% + 15px);
    height: 30px;

    transform-origin: right center;
  }

  // sunrise and sunset times
  &__times {
    display: flex;
    justify-content: space-between;
    width: 93%;
    border-top:  #878787 solid 2px;
    padding-top: 5px;
    gap: 1rem;

    &--night {
      border-top:  #040219CC solid 2px;
    }

    @include respond(small-desktop) { 
      width: 99%;
    }
    @include respond(tablet) { 
      width: 100%;
    }
  }

  &__timeWrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;

      @include respond(tablet) { 
        font-size: 12px;
      }
      @media (max-height:735px) {
        font-size: 12px;
      }

    &--sunrise {
      align-items: flex-start;
    }

    &--sunset {
      align-items: flex-end;
      text-align: end;
    }
  }

  // icons
  .sunriseContainer,
  .sunsetContainer {
    width: 25px;
    min-width: 25px;

    @include respond(tablet) { 
      width: 22px;
      min-width: 22px;
    }
    @media (max-height:735px) {
      width: 22px;
      min-width: 22px;
    }

    &--large {
      width: 42px;
      border-radius: 180px;
      background-color: #F3C545;
      border: #EE9B55 solid 2px;
      color: #7A7A7A;
      padding: 6px;

      @include respond(medium-desktop) { 
        width: 35px;
        padding: 3px;
      }
      @include respond(small-desktop) { 
        width: 30px;
        padding: 2px;
      }
      @include respond(large-tablet) { 
        width: 25px;
        padding: 1px;
      }
      @include respond(tablet) { 
        width: 30px;
        padding: 2px;
      }
      @include respond(medium-tablet) { 
        width: 25px;
        padding: 1px;
      }
    }
  }

  .sunrise,
  .sunset {
    stroke-width: 1.5px;
    color: #878787;

    &--active {
      fill: #FD8A03;
      color: #FD8A03;
      stroke-width: 2px;
    }
  }

  // design except for today
  &__timesWrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  &__iconAndTime {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__time {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.01875rem;
    display: flex;
    gap:3px;

    @include respond(medium-desktop) { 
      font-size: 16px;
    }
    @include respond(small-desktop) { 
      font-size: 14px;
    }
    @include respond(large-tablet) { 
      font-size: 12px;
    }
    @include respond(tablet) { 
      font-size: 14px;
    }
    @include respond(medium-tablet) { 
      font-size: 12px;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    p {
      text-align: left;
    }
  }

  &__messageIcon {
    width: 2rem;
    height: 2rem;
    color: #878787;
    stroke-width: 2.5px;
  }
}