.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 0.3s ease; 
  padding: 8px;

  &:hover {
    background-color: rgba(180, 180, 180, 0.5);
  }

  @media (max-width: 768px) {
    margin-bottom: 0; 
    padding: 5px 5px;
    gap: 3px;
  }
}

.link.disabled {
  cursor: default; 
  pointer-events: none; 
}

.name {
  font-size: 12px;
  white-space: nowrap;
}

.namePale {
  font-size: 12px;
  white-space: nowrap;
  opacity: 0.3;
}

.image {
  width: 50px;
  height: 50px;

  @media (max-width: 768px) {
    width: 34px; 
    height: 25px;
  }
}