@use '../../style/_mixins.scss' as *;

.favoritesList {
  &__favoritesContainer {
    margin: 0 30px 30px 15px;

    @include respond(large-tablet) {
      margin: 0 18px 30px 15px;
    }
    @include respond(tablet) {
      margin: 30px 10px;
    }
    @include respond(mobile) {
      margin: 30px 5px;
    }
  }
}

.favoritesList__notification {
  text-align: center;
  background-color: #F9F9F9;
  border-radius: 8px; 
  padding: 2rem; 
  margin: 5rem auto;
  max-width: 500px; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  @include respond(small-tablet) {
    margin: 5rem 2rem;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    color: #555; 
    margin-bottom: 1.5rem;
    line-height: 1.4;
  }

  a {
    display: inline-block;
    background-color: #0070f3; 
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #005bb5;
    }
  }
}