.favoritesList {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 18px 45px 10px 45px;
    background-color: rgba(white, 0.95);
    z-index: 1000;
  }
  &__headerTitle {
    font-size: 25px;
    font-weight: 500;
    padding: 8px 0;
    text-align: center;
  }
  &__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    padding: 5px;
    transition:all 0.3s ease;
    &:hover {
      cursor: pointer;
      background-color: rgba(black, 0.2);
    }
  }
  &__icon {
    width: 25px;
    height: 25px;
    stroke-width: 1.5px;
    color: rgba(0, 0, 255, 0.8);
  }

  // Delete buttons
  @keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideOutToBottom {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
  
  &__deleteButtons {
    display: flex;
    gap: 24px;
    width: calc(100% - 160px);
    height: 120px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background-color: rgba(white, 0.95);
    padding: 18px 0 36px 20px;
    transform: translateY(100%); /* Initial hidden state */
    &.deleteActive {
      animation: slideInFromBottom 0.3s forwards;
     }
    &.deleteInactive {
       animation: slideOutToBottom 0.3s forwards;
     } 
  }

  

  &__favoritesContainer {
    margin: 0 30px 0 15px;
  }
}