.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  height: 100vh;
  overflow: auto;
  flex: none;
  padding: 18px 15px 18px 30px;
}

.content {
  flex-grow: 1;
  margin-left: 160px;
  height: 100vh;
  overflow: auto;
}