.modal {
  &__content {
    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      outline: none;

      &:focus {
        border-color: #007bff;
      }
    }
  }

  &__address {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    p {
      font-size: 14px;
      text-align: left;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}

