$breakpoints: (
  weekly-forecast-wrap-mobile: 340px,
  mobile: 480px,
  tablet: 768px,
  small-desktop: 1024px,
  weekly-forecast-wrap-desktop: 1280px,
  large-desktop: 1440px
);

@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}