.weatherPage {
  display: flex;
  height: 100%;
  padding: 18px 30px 18px 15px;

  &__leftContent {
  width: 65%;
  height: 100%;
  }

  &__rightContent {
  width: 35%;
  padding: 69px 0 0 26px;
  }
}