.favoritesList {   
  &__deleteButtons {
    display: flex;
    gap: 24px;
    width: calc(100% - 160px);
    height: 120px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background-color: rgba(white, 0.95);
    padding: 18px 0 36px 20px;

    transform: translateY(100%); /* Initial hidden state */

    transition: transform 0.3s ease-in-out; /* Smooth transition */

    &.deleteActive {
      transform: translateY(0)
     }
    &.deleteInactive {
      transform: translateY(100%);
     } 
  }
}