.todaysForecast {
  height: 34%;

  @media (max-height: 780px) {
    height: 36%;
  }

  &__container {
    height: 100%;
    padding: 15px 0 15px 0;

    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      letter-spacing: 0.4px;

      @media (max-width: 768px) {
        font-size: 16px;
        letter-spacing: 0.32px;
      }
      
      span {
        font-size: 12px;
        font-weight: 500;
        margin-left: 12px;
        color: #878787;
      }
    }

    
  }

  // Skeleton
  &__titleSkeleton {
    background-image: linear-gradient(90deg, #f0f0f0 25%, #fafafa 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;

    height: 1.5rem;
    width: 12.5rem;
    border-radius: 6px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}