.externalLink {
  font-size: 0.875;
  font-weight: 500;
  display: flex;
  gap: 3px;
  align-items: flex-end;
  color: #5592FF;
  transition: all 0.3s ease; 
  &:hover {
    cursor: pointer;
    color: #4299E1; 
    text-decoration: underline;
  }
}

.icon {
  width: 1.077rem;
  height: 1.077rem;
}