.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 8px 0 12px 0;
  background-color: rgba(255, 255, 255, 0.3);
  p {
    font-size: 14px;
    letter-spacing: -0.25px;

    @media (max-width: 768px) {
      font-size: 10px;
      letter-spacing: -0.5px;
    }
  }
  span {
    font-size: 12px;
    margin-left: 1px;
    letter-spacing: -0.25px;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }

  // card top
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__time {
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
  &__weatherIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 12px 0;

    @media (max-width: 768px) {
      margin: 6px 0 6px 0;
    }
  }
  &__temp {
    font-size: 18px;
    font-weight: 700;  
    span {
      font-size: 14px;
      font-weight: 300;
    }

    @media (max-width: 768px) {
      font-size: 12px;
      span {
        font-size: 10px;
        font-weight: 300;
      }
    }
  }

  // card bottom
  &__precipProb {
    display: flex;
    align-items: flex-end;
    height: 17px;
    &.precipProbActive {
      color: #191970;
      font-weight: 600;
  
      .weatherCard__icon {
        fill: #191970;
      }
    }
  }

  &__precip,
  &__wind {
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
    height: 17px;

    @media (max-width: 768px) {
      margin-top: unset;
    }
  }
  
  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 2px;

    @media (max-width: 768px) {
      width: 11px;
      height: 11px;
    }
  }

  &__weatherIndex {
    font-size: 12px;
    font-weight: 500;
    color: #4F4F4F;
    margin-left: 4px;
    letter-spacing: -0.25px;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}

.favoriteCityCard,
.favoriteCityCardNightMode {
  width: 100px;
  min-width: 100px;
  .weatherCard__weatherIcon {
    margin: 8px 0 3px 0;
  }

  @media (max-width: 768px) {
    width: 60px;
    min-width: 60px;
    height: 90px;
  }
}
.favoriteCityCardNightMode {
  background-color: rgba(white, 0.6);
}

.dailyForecast {
  width: 120px;
  min-width: 120px;
  height: 190px;
  background-color: #F9F9F9;
  padding: 12px 0 12px 0;

  @media (max-width: 768px) {
    width: 90px;
    min-width: 90px;
    height: 140px;
  }

  .weatherCard__weatherIcon {
    width: 2.5rem;
    height: 2.5rem;
  }

  p {
    @media (max-width: 768px) {
      letter-spacing: 0;
    }
  }
}


// Skeleton
.weatherCard {
  &__timeSkeleton,
  &__weatherIconSkeleton,
  &__tempSkeleton,
  &__precipProbSkeleton,
  &__precipSkeleton,
  &__windSkeleton  {
    background-image: linear-gradient(90deg, #f0f0f0 25%, #fafafa 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 6px;
  }

  &__timeSkeleton {
    width: 3.8rem;
    height: 1.06rem;
  }

  &__weatherIconSkeleton {
    width: 100%;
    height: 100%;
  }

  &__tempSkeleton {
    width: 1.75rem;
    height: 1.06rem;
  }

  &__precipProbSkeleton {
    width: 3.125rem;
    height: 0.875rem;
  }

  &__precipSkeleton {
    width: 4.375rem;
    height: 0.875rem;
  }

  &__windSkeleton {
    width: 5.625rem;
    height: 0.875rem;
  }
}

.favoriteCityCard .weatherCard__weatherIconSkeleton {
  width: 40px;
  height: 40px;
  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}