@use '../../../../style/_mixins.scss' as *;

.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 8px 0 12px 0;
  background-color: rgba(255, 255, 255, 0.3);

  // card top
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__time {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.21px;

    @include respond(tablet) {
      font-size: 12px;
      letter-spacing: 0.18px;
    }
  }

  &__temp {
    font-size: 1.125rem;
    font-weight: 700;  
    letter-spacing: 0.017rem;
  }

  // card bottom
  &__precipProb,
  &__precip,
  &__wind {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;

    span {
      margin-left: 2px;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__stat {
    letter-spacing: 0.18px;
  }

  &__weatherIndex {
    color: #878787;
    letter-spacing: -0.025px;
  }

  &__precipProb {
    &--active {
      color: #191970;
  
      .umbrellaIcon {
        fill: #191970;
      }
    }
  }

  &__precip,
  &__wind {
    margin-top: 0.3125rem;
  }
}

.tooltip__precip,
.tooltip__wind {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

// icons
.weatherIcon {
  width: 40px;
  height: 40px;
  margin: 0.625rem 0 0.625rem 0;

  @include respond(tablet) {
    width: 30px;
    height: 30px;
  }
}

.weatherCardIcon {
  width: 15px;
  min-width: 15px;
  height: 15px;
  position: relative;

  &__precip {
    &:hover {
      .tooltip__precip {
        visibility: visible;
        opacity: 1; 
      }
    }
  }

  &__wind {
    &:hover {
      .tooltip__wind {
        visibility: visible;
        opacity: 1; 
      }
    }
  }
}

// different types of weather cards
.dailyForecast {
  width: 115px;
  min-width: 115px;
  height: 190px;
  background-color: #F9F9F9;
  padding: 0.75rem 0 0.75rem 0;

  @include respond(tablet) {
    width: 90px;
    min-width: 90px;
    height: 160px;
  }
}

.favoriteCityCard,
.favoriteCityCardNightMode {
  width: 100px;
  min-width: 100px;
  
  @include respond(tablet) {
    width: 60px;
    min-width: 60px;
    height: 90px;
  }

  .weatherCard__weatherIcon {
    margin: 8px 0 3px 0;
    width: 40px;
    height: 40px;
    
  @include respond(tablet) {
    width: 20px;
    height: 20px;
  }
  }
}

.favoriteCityCardNightMode {
  background-color: rgba(white, 0.6);
}



// Skeleton
.weatherCard {
  &__timeSkeleton,
  &__weatherIconSkeleton,
  &__tempSkeleton,
  &__precipProbSkeleton,
  &__precipSkeleton,
  &__windSkeleton  {
    background-image: linear-gradient(90deg, #f0f0f0 25%, #fafafa 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 6px;
  }

  &__timeSkeleton {
    width: 3.8rem;
    height: 1.06rem;
  }

  &__weatherIconSkeleton {
    width: 100%;
    height: 100%;
  }

  &__tempSkeleton {
    width: 1.75rem;
    height: 1.06rem;
  }

  &__precipProbSkeleton {
    width: 3.125rem;
    height: 0.875rem;
  }

  &__precipSkeleton {
    width: 4.375rem;
    height: 0.875rem;
  }

  &__windSkeleton {
    width: 5.625rem;
    height: 0.875rem;
  }
}

.favoriteCityCard .weatherCard__weatherIconSkeleton {
  width: 40px;
  height: 40px;
  @include respond(tablet) {
    width: 20px;
    height: 20px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}