@use '../../../../style/_mixins.scss' as *;

.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 8px 0 12px 0;
  background-color: rgba(255, 255, 255, 0.3);

  span {
    font-size: 0.75rem;
    margin-left: 1px;
    letter-spacing: -0.015rem;
  }

  // card top
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__time {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.013125rem;
  }

  &__weatherIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem 0 0.625rem 0;
  }

  &__temp {
    font-size: 1.125rem;
    font-weight: 700;  
    letter-spacing: 0.017rem;
  }

  // card bottom
  &__precipProb,
  &__precip,
  &__wind {
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.01125rem;
    display: flex;
    align-items: flex-end;
  }

  &__precipProb {
    &.active {
      color: #191970;
  
      .weatherCard__icon {
        fill: #191970;
      }
    }
  }

  &__precip,
  &__wind {
    margin-top: 0.3125rem;
  }
  
  &__icon {
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 2px;
  }

  &__weatherIndex {
    font-size: 0.75rem;
    font-weight: 500;
    color: #4F4F4F;
    margin-left: 4px;
    letter-spacing: -0.0156rem;
  }
}

.favoriteCityCard,
.favoriteCityCardNightMode {
  width: 100px;
  min-width: 100px;
  
  @include respond(tablet) {
    width: 60px;
    min-width: 60px;
    height: 90px;
  }

  .weatherCard__weatherIcon {
    margin: 8px 0 3px 0;
    width: 40px;
    height: 40px;
    
  @include respond(tablet) {
    width: 20px;
    height: 20px;
  }
  }
}

.favoriteCityCardNightMode {
  background-color: rgba(white, 0.6);
}

.dailyForecast {
  width: 120px;
  min-width: 120px;
  height: 11.875rem;
  background-color: #F9F9F9;
  padding: 0.75rem 0 0.75rem 0;

  @include respond(tablet) {
    width: 90px;
    min-width: 90px;
  }

  .weatherCard__weatherIcon {
    width: 2.5rem;
    height: 2.5rem;
  }
}


// Skeleton
.weatherCard {
  &__timeSkeleton,
  &__weatherIconSkeleton,
  &__tempSkeleton,
  &__precipProbSkeleton,
  &__precipSkeleton,
  &__windSkeleton  {
    background-image: linear-gradient(90deg, #f0f0f0 25%, #fafafa 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 6px;
  }

  &__timeSkeleton {
    width: 3.8rem;
    height: 1.06rem;
  }

  &__weatherIconSkeleton {
    width: 100%;
    height: 100%;
  }

  &__tempSkeleton {
    width: 1.75rem;
    height: 1.06rem;
  }

  &__precipProbSkeleton {
    width: 3.125rem;
    height: 0.875rem;
  }

  &__precipSkeleton {
    width: 4.375rem;
    height: 0.875rem;
  }

  &__windSkeleton {
    width: 5.625rem;
    height: 0.875rem;
  }
}

.favoriteCityCard .weatherCard__weatherIconSkeleton {
  width: 40px;
  height: 40px;
  @include respond(tablet) {
    width: 20px;
    height: 20px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}